form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscaInputs {
    display: flex;
}

input {
    background: transparent;
    border: 2px solid var(--black);
    border-radius: 0.3rem;
    line-height: 1.3rem;
    margin: 1rem;
    padding: 0.3rem;
}

.mapaContainer {
    height: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.resultados {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  

@media (max-width:450px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mapaContainer {
        height:40vh;
        margin-top: 2rem;
    }
}


