form {
    align-items: center;
    display: flex;
    justify-content: center;
}

.buscaContainer {
    margin-top: 0.5rem;
}

.buscaContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 0.25rem;
}

.selectCidade{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 4rem;
    width: 90%; 
}

.resultados {
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    min-height: 40vh;
    padding: 10px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin: 0;
  }
  

@media (max-width:450px) {
    form {
        display: flex;
        flex-direction: column;
    }

    .selectCidade{
        margin-top: 1rem;
    }

    .resultados{
        text-align: center;
    }

}


