.container {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    height: 70vh;
    max-width: 70rem;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.dadosDireita, .dadosEsquerda{
    display: flex;
    flex-direction: column;
}

.dadosDireita, .dadosEsquerda label{
    font-size: 1.2rem;
}

.dadosDireita, .dadosEsquerda input{
    font-size: 1rem;

}

.dadosEsquerda{
    width: 80%;
}

.dadosEsquerda div{
    width: 100%;
}

.pin{
    margin-left: 2rem;
}

.cep {
    background: transparent;
    border: none;
    line-height: 1.25rem;
    margin-left: 1rem;
    width: 60%;
}

.circlePin {
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
    align-self: center;
}

.inputName {
    background: transparent;
    margin: 0 auto;
    border: none;
    font-size: 2.5rem;
    text-align: center;
    width: 80%;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.inputBoxCep {
    border-bottom: 2px solid var(--white);
    width: 60%;
    align-self: center;

}

.dadosEsquerda input {
    background: transparent;
    line-height: 1.25rem;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 50%;
}

.inputBoxCelular{
    border-bottom: 2px solid var(--red200);
    width: 80%;
}

.inputBoxProprietarie{
    border-bottom: 2px solid var(--orange100);
    width: 80%;
}

.inputBoxEmail{
    border-bottom: 2px solid var(--yellow100);
    width: 80%;
}

.inputBoxRua{
    border-bottom: 2px solid var(--blue100);
    width: 80%;
}

.inputBoxBairro{
    border-bottom: 2px solid var(--green100);
    width: 80%;
}

.inputBoxCidade{
    border-bottom: 2px solid var(--purple100);
    width: 80%;
}

.inputBoxEstado{
    border-bottom: 2px solid var(--red100);
    width: 80%;
}

.inputBoxCnae{
    border-bottom: 2px solid var(--red100);
    width: 80%;
    display: flex;
}

.inputBoxhorario{
    border-bottom: 2px solid var(--red100);
    width: 80%;
}

.celular, .proprietarie, .email, .rua, .bairro, .cidade, .estado, .cnae, .funcionamento  {
    border: none;

}


@media (max-width:450px) {
    .container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .dadosDireita div{
        margin: 0 auto;
    }

    .cep{
        padding: 0rem;
        line-height: 1rem;
        margin-left: 1rem;
        width: 60%;
    }

    .pin{
        margin-bottom: 0;
    }
    
    .inputName{
        font-size: 2rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
 
    .circlePin{
        margin: 0 auto;
        margin-top: 1rem;
    }

    .inputBoxCep{
        border: none
    }

    .dadosEsquerda{
        align-items: center;
        margin-bottom: 2rem;
        width: 90%;
    }

    .dadosEsquerda input{
        padding: 0rem;
        line-height: 1rem;
    }

}




