.container {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--black); 
    border-radius: 50px;
    height: auto;
    max-width: 60rem;
    margin-top: auto;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}

/* CSS em comum */

.dadosDireita, .dadosEsquerda {
    display: flex;
    flex-direction: column;
}

.dadosDireita, .dadosEsquerda label {
    font-size: 1.2rem;
}

.dadosDireita{
    width: 50%;
}

.dadosEsquerda{
    width: 50%;
}


/* CSS Lado Direito */

.dadosDireita{
    align-items: center;
    margin: auto 0 auto 0;
}

.pin {
    margin-left: 2rem;
}

.cep {
    background: transparent;
    border: none;
    line-height: 1.25rem;
    margin-left: 1rem;
    margin: 0;
    width: 60%;
}

.circlePin {
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.inputName {
    background: transparent;
    border: none;
    font-size: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 80%;
}

.inputBoxCep {
    border-bottom: 2px solid var(--white);
    width: 60%;
}

/* CSS Lado Esquerdo */

.dadosEsquerda{
    align-items: center;
    margin-top: 1rem;
    width: 80%;
}
.dadosEsquerda input {
    background: transparent;
    line-height: 1.25rem;
    margin: 0.3rem 0 0.3rem 0
}

.inputBoxCelular{
    border-bottom: 2px solid var(--red200);
    width: 80%;
}

.inputBoxProprietarie{
    border-bottom: 2px solid var(--orange100);
    width: 80%;
}

.inputBoxEmail{
    border-bottom: 2px solid var(--yellow100);
    width: 80%;
}

.inputBoxRua{
    border-bottom: 2px solid var(--blue100);
    width: 80%;
}

.inputBoxBairro{
    border-bottom: 2px solid var(--green100);
    width: 80%;
}

.inputBoxCidade{
    border-bottom: 2px solid var(--purple100);
    width: 80%;
}

.inputBoxEstado{
    border-bottom: 2px solid var(--red100);
    width: 80%;
}

.inputBoxCnae{
    display: flex;
    border-bottom: 2px solid var(--orange100);
    width: 80%;
    align-items: center;
}

.inputBoxhorario{
    border-bottom: 2px solid var(--yellow100);
    width: 80%;
}

.celular, .proprietarie, .email, .rua, .bairro, .cidade, .estado, .cnae, .funcionamento  {
    border: none;

}



@media (max-width:450px) {
    .container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .dadosDireita {
        margin: 0 auto;
        width: 100%;
    }

    .cep{
        padding: 0rem;
        line-height: 1rem;
        margin-left: 1rem;
        width: 60%;
    }
    
    .inputName{
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }
 
    .circlePin{
        margin: 0.5rem 0 0.5rem 0;
    }

    .inputBoxCep{
        border: none
    }

    .dadosEsquerda{
        align-self: center;
        width: 90%;
        margin-top: 1rem;
    }

    .dadosEsquerda input{
        line-height: 1rem;
    }

}
