.header {
    background-color: var(--purple500);
}

.container {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.container img {
    max-width: 100px;
}

.container p{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

@media (max-width:450px) {
    .container{
        width: auto;
        padding: 0.5rem;
    }
    
}